.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0;
}
.headerTitle {
    color: orange;
}

.headerCounter {
    color: white;
}

.headerButton {
    background-color: orange;
    border-color: orange;
}

.headerItem{
    display: inline-block;
}