.container {
    border-radius: 30px;
    min-width: 250px;
    max-width: 350px;
    background-color: bisque;
    text-align: center;

}

.formItem{
    margin: 10px;
}

.formInput {
    background-color: black;
    color: orange;
    border: none;
    border-radius: 20px;
    min-width: 180px;
    max-width: 200px;
    padding: 5px 10px;
}

.formButton {
    background-color: orange;
    margin: auto;
    margin-top: 15px;
   
    border: none;
    display: block;
}