.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items:center;
    justify-content:center;
    background: rgba(8, 8, 8, 0.5);

}
.card {
    border-radius: 30px;
    min-width: 280px;
    max-width: 350px;
    text-align: center;

}

.formButton{
    margin: auto;
    display: block;
}

.formItem{
    margin: auto;
    display: flex;
    justify-content: center;
    border: none;
    
}

.formInput {
    border-radius: 30px;
    padding: 5px 10px;
    display: block;
}

.formInput:focus, .formInput:hover, .formInput:active{
    border: 1px solid var(--primary-color);
    box-shadow: none;
    background-color:#fff7e6 !important;
}


.formButton {
    margin-top: 10px;
    border: none;
    display: block;
}