.cardContainer{
    border: 1px whitesmoke solid;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    max-width: 300px;
    min-width: 200px;
    margin: auto;
}
.cardTitle{
    text-align: center;
}
.characterItemContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.cardButton{
    margin: auto;
    display: block;
    background-color: orange;
    border: 1px solid orange;
}

.characterImage{
    height: 80px;
    width: 80px;
}