@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Balsamiq Sans', cursive;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h3, h2{
  font-size: x-large;
  font-weight: bold;
}

:root{
  --primary-color: #fa8c16;
  --logo-font: 'Potta One', cursive;
}