.menuContainer{
    background-color: black !important;
    border-radius: 20px;
    border: none;
    min-width: 85px;
    max-width: 100px;
    color: white;
    text-align: center;
    position: absolute;
}