.menuContainer{
    background-color: rgba(0, 0, 0, 0.6) !important;
    border-radius: 20px;
    border: none;
    min-width: 85px;
    max-width: 100px;
    color: white;
    text-align: center;
    position: absolute;
}

.menuItem{
    border-radius: 20px;
    border: none;
}

.menuItem:hover, .menuItem:focus{
    color: var(--primary-color);
}