.button {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    display: inline-block;
    color: white;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 15px 18px;
    font-weight: 100;

}

.button:hover{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);;
}